body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dadada
}
h1,
h2{
    text-transform: uppercase;
}
.header{
    text-align: center;
    color:#c561ff;
    -webkit-text-stroke: 2px #000000;
}
.slogan{
    font-size: 24px;
    font-style: italic;
    text-transform: capitalize;
    color: #8a0909 ;
}
table{
    border-collapse: collapse;
}
th,
td{
    border: 1px solid #000000;   
}
td.year{
    text-align: center;
}
a{
    text-decoration: none;
    color: #a18528;
}
img{
    width: 100%;
}